@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #faf5ec;
}

@layer utilities {
  .flex-20 {
    flex: 0.2;
  }
  .flex-30 {
    flex: 0.3;
  }
  @variants responsive {
    .p-0 {
      padding: 0px !important;
    }
  }
}
